<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="no" default-dependency-check="none" default-lazy-init="false">
	<bean id="FlowAspect" singleton="true" class="org.romaframework.aspect.flow.impl.POJOFlow" lazy-init="false" />

	<bean id="I18NAspect" singleton="true" class="org.romaframework.aspect.i18n.rb.I18NAspectResourceBundleImpl"
		lazy-init="false">
		<constructor-arg ref="AutoReloadManager" />
		<property name="packages">
			<list>
				<!-- ADDITIONAL PATHS TO DISCOVER I18N FILES -->
			</list>
		</property>
	</bean>

	<bean id="AutoReloadManager" singleton="true" class="org.romaframework.core.resource.AutoReloadManager" lazy-init="false">
		<constructor-arg value="1000" />
	</bean>

	<bean id="ResourceResolver" class="org.romaframework.core.resource.ResourceResolver" singleton="true" lazy-init="false" />

	<bean id="SchemaClassResolver" class="org.romaframework.core.schema.SchemaClassResolver" singleton="true"
		lazy-init="false">
		<constructor-arg ref="ResourceResolver" />
	</bean>

	<bean id="SchemaManager" class="org.romaframework.core.schema.SchemaManager" singleton="true" init-method="config"
		lazy-init="false">
 	</bean>

	<bean id="SchemaConfigurationLoader" class="org.romaframework.core.schema.SchemaConfigurationLoader" singleton="true"
		lazy-init="false" />

	<bean id="SchemaReloader" class="org.romaframework.core.schema.SchemaReloader" singleton="true" lazy-init="false" />

	<bean id="AuthenticationAspect" class="org.romaframework.aspect.authentication.mock.NoAuthenticationManager"
		lazy-init="false" singleton="true" />

	<bean id="LoggingAspect" class="org.romaframework.aspect.logging.LoggingCommonAspect" singleton="true" lazy-init="false" />

	<bean id="ConsoleLogger" class="org.romaframework.aspect.logging.loggers.ConsoleLogger" singleton="true">
		<constructor-arg>
			<ref bean="LoggingAspect" />
		</constructor-arg>
	</bean>

	<bean id="ValidationAspect" class="org.romaframework.aspect.validation.BasicValidationModule" singleton="true"
		lazy-init="false" />

	<bean id="SerializationAspect" class="org.romaframework.aspect.serialization.DefaultSerializationAspect"
		lazy-init="false" />
	<bean id="SerializationInspectionStrategy" class="org.romaframework.aspect.serialization.impl.SchemaSerializationInspectionStrategy" />
	<bean id="SerializationFormatStrategy" class="org.romaframework.aspect.serialization.impl.NativeSerializationFormatStrategy" />

	<bean id="HookAspect" class="org.romaframework.aspect.hook.HookAspect" lazy-init="false" />
	<bean class="org.romaframework.core.install.ApplicationInstallerModule" singleton="true" lazy-init="false" />
	<bean class="org.romaframework.aspect.core.CoreAspectConfigurator" singleton="true" lazy-init="false" />
	<bean class="org.romaframework.aspect.hook.HookAspectConfigurator" singleton="true" lazy-init="false" />
	<bean class="org.romaframework.aspect.serialization.SerializationAspectConfigurator" singleton="true" lazy-init="false" />
	<bean class="org.romaframework.aspect.validation.ValidationAspectConfigurator" singleton="true" lazy-init="false" />
	<bean class="org.romaframework.core.aspect.AspectManager" id="AspectManager" lazy-init="default" singleton="true" />
</beans>